<%- include ("./partials/header.ejs") %>

    <div class="homepage">
        <div class="homepageText">
        <h1>
        Task.Me  
        </h1>
        <h2>
            A better way to manage your tasks on the go.
        </h2>
        <a class="btn-large waves" href="/register">Sign Up</a>
    </div>

        <img class="homepageSvg" src = "/assets/undraw_tasks_av87.svg">


    </div>
 
     
    <%- include ("./partials/footer.ejs") %>  
   