<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="style.css" type="text/css">
    <title>Task Manager</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" class="brand-logo">Task Manager</a>
        </div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="card">
                <span class="card-title">
                    Register
                </span>
                <div class="card-content">
                    <form action = "/register" method="POST">
                    <label for="username">Username</label>
                    <input type="text" name="username">
                    <label for= "password">Password</label>
                    <input type="password" name="password">
                    <input type = "submit">
                    </form>
                </div>
            </div>
           </div>
      
    </div>
 
     
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                
</body>
</html>