<%- include ("./partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="card">
                <span class="card-title">
                    Register
                </span>
                <div class="card-content">
                    <form action = "/register" method="POST">
                    <label for="username">Username</label>
                    <input type="text" name="username">
                    <label for= "password">Password</label>
                    <input type="password" name="password">
                    <input type = "submit">
                    </form>
                </div>
            </div>
           </div>
      
    </div>
 
     
   
    <%- include ("./partials/footer.ejs") %>
