
.row .col{
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }

h1{
    text-align: center;
    border-bottom: 2px solid #64b5f6;
    
}

.btn-floating{

    background-color: #0d47a1;
    position: relative;
    display: inline-block;
    left: 75%
}



li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.checkbox.small {
    width: 2rem;
}


nav {
    margin-bottom: 2rem;
}